body {
    font-family: 'Poppins', sans-serif;
    margin: 10px;
}

h1 {
    font-size: 45px;
}

section {
    display: flex;
    padding-left: 5%;
}



.half-width {
    width: 50%;
}

.donate-today {
    background-image: url(images/donation4.jpg);

}

.link-button {
    text-decoration: none;
    background-color: orangered;
    padding: 10px, 40PX;
    border-radius: 4px;
    color: white;
    font-weight: 700;
}

.donation13 {
    background-image: linear-gradient(orange, tomato);
}